.contact {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .text-container {
    margin-top: 50px;
  }

  &__map {
    margin-bottom: 50px;
  }

  &__from {
    width: 100vw;
    height: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/gallery/thumbnails-min/g1.jpg");
    background-size: cover;

    form {
      padding: 0 40px 40px;
      background: #F3F3F3;
      box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.51);
      border-radius: 32px;

      input, textarea, select {
        width: 100%;

        @media screen and (min-width: $mobile-m) {
          width: 400px;
        }

        @media screen and (min-width: $desktop) {
          width: 680px;
        }
      }

      .text-container {
        margin: 40px 0 0;
      }

    }
  }
}