.footer {
  //height: 6em;
  background-color: $blue;

  &__main {
    height: 100%;
    display: grid;

    grid-template-columns: 1fr;
    color: $white;

    h3, h2 {
      margin: 52px 0 24px;
      text-align: center;
    }
  }

  &__paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;

    img {
      margin-right: 5px;
    }

    p {
      margin: 0 5px;
    }
  }

  &__hours {
    display: flex;
    justify-content: center;

    div {
      margin-right: 5px;
    }
  }

  &__map {
    margin-top: 24px;
  }

  &_left {
    justify-self: center;
  }

  &_center {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;

    p {
      padding: 0 20px;
      margin: 20px 0 10px;
    }
  }

  &_right {
    justify-self: center;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1000px) {
    padding: 10px 0 50px;
    &__main {
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__paragraph {
      display: flex;
      justify-content: flex-start;
    }

    &__hours {
      display: flex;
      justify-content: flex-start;
    }

    &_left {
      min-height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      align-content: start;
    }

    &__map {
      justify-self: end;
    }
  }
}

.sec-footer {
  margin: 20px 0;
  text-align: center;
}