

.home {
  margin: 60px 0 80px;

  &__logo {
    margin: 80px 0;
    display: flex;
    justify-content: center;
    img {
      width: 80vw;
    }
  }
}

.middle-section {
  padding: 90px 0;
  background: $blue;
  .text-container {
    color: white;
    font-weight: 300;
    display: grid;
    grid-template-columns: 1fr;
    .quote {
      font-weight: 300;
      color: white;
    }

    button {
      width: 277px;
      justify-self: center;
    }
  }
}

.gallery {
  margin: 50px 0;

  @media screen and (min-width: $desktop) {
    margin: 50px auto;
    max-width: 1200px;
  }

  .text-container {
    display: grid;
    grid-template-columns: 1fr;
    h2 {
      margin-bottom: 5px;
    }

    button {
      justify-self: center;
      width: 100%;

      @media screen and (min-width: $desktop) {
        max-width: 205px;
      }
    }
  }

  &__items {
    padding: 16px;
    width: 100%;

    &_more {
      display: none;
    }

    &_show {
      display: grid;
    }

    @media screen and (min-width: $desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;

      &_more {
        display: none;
      }

      &_show {
        display: grid;
      }
    }
  }

  &__image-item {
    width: 100%;
    margin-bottom: 43px;
    margin-bottom: 43px;
    border: 3px solid #EEEEEE;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    @media screen and (min-width: $desktop) {
      max-height: 310px;
      margin-bottom: 0;
    }
  }

  .gallery_more {
    &_hidden {
      display: none;
    }
  }

  .gradient-relative {
    height: 100px;
    width: 100%;
    padding: 16px;
    position: relative;

    &_hidden {
      display: none;
    }

    .gradient {
      position: absolute;
      z-index: -1;
      width: calc(100% - 32px);
      height: 55px;
      background: linear-gradient(180deg, #EDEDED 0%, rgba(255, 255, 255, 0) 100%);
      filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.05));
    }
  }
}

.animated-thumbnails {
  li {
    max-width: 50%;
  }
}

.gallery-zoom {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  background: rgba(79, 79, 79, 0.69);

  img {
    width: 100%;
    max-height: 90%;
    object-fit: cover;
  }
}